discord.py==1.7.3
aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
chardet==3.0.4
idna==3.1
multidict==5.1.0
numpy==1.22.3
Pillow==9.1.0
pyfiglet==0.8.0
request==2.27.1
typing-extensions==3.7.4.3
yarl==1.6.3
